
  
  main {
    
    > div {
      display: inline-block;
      width: 8px;
      height: 200px;
      margin: 0 7px;
      background: white;
      transform: scaleY( .5 );
      opacity: .25;
    }
    
    &.error {
      color: #f7451d;
      min-width: 20em;
      max-width: 30em;
      margin: 0 auto;
      white-space: pre-line;
    }
  }
  